html, body, div, h1, p{
    margin: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    margin-top: 10px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}