#schedule {
    border: 1px solid black;
    text-align: left;
}

input:hover, #match-complete-container:hover {
    background-color: lightgray;
}

.complete {
    background-color: rgb(194, 232, 245) !important ;
}

.current {
    background-color: lightgreen !important;
}

.column {
    flex: 50%;
}
