#partner-list {
    margin-top: 20px;
}

#partner-list input {
    display: block;
    margin: 10px 0;
}

#alliances,
#rankings {
    border: 1px solid black;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}

input:disabled {
    background-color: white;
}

#rankings tr.captain-team td {
    background-color: lightgreen;
}

#rankings tr.selected-team td {
    background-color: rgb(106, 133, 118);
}

#current-selection {
    margin-top: 20px;
}